# cargo
debug/
target/

# MacOS
.DS_Store

# vscode
.vscode

# prometheus
data/

# intellij-based IDEs
.idea

.env

# local-testnet.sh
local-validators

# specific account ONLY for unit tests
gcloud-credentials.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
